.home-container {
	padding-top: 127px;
}

.ribbon {
	position: absolute; 
	top: 127px; 
	right: 0; 
	border: 0;
}

/* Hide the free quote button since we don't have a UI to power it */
#free-quote-btn {
	display: none;
}