/* Add a border under the primary nav */
.navbar-default {
	/*border-bottom: 2px solid #FC6042;*/
}

/* Overrides the padding for branding */
.navbar-brand {
	padding-top: 0px;
	padding-right: 25px;
	padding-bottom: 0px;
	padding-left: 25px;
}

.navbar-brand>img {
	margin-top: 12px;
}

.sampler-container {
	background-color: #1abc9c;
}

.thumbnail-container {
	width: 300px;
}

.sampler-container {
	padding-top: 96px;
	padding-bottom: 96px;
}